@use "sass:map";

// blues
$blue: 									#0079B3;

// greens									
$green:									#00B374;

// blacks
$black:									#000514;

// grays
$gray: 									#434752;

// white
$white:									#ffffff;
$white-offset:					#B9BABF;

$colors: (
	"blue": (
		"base": $blue,
	),
	"green": (
		"base": $green,
	),
	"black": (
		"base": $black
	),
	"gray": (
		"base": $gray
	),
	"white": (
		"base": $white,
		"offset": $white-offset
	)
)