// Colors
$primary: {{ .Site.Params.colors.primary | default "#f24088" }};
$black: {{ .Site.Params.colors.black | default "#2f2f41" }};
$white: {{ .Site.Params.colors.white | default "#ffffff" }};
$white-offset: {{ .Site.Params.colors.white_offset | default "#f6f7ff" }};
$grey: {{ .Site.Params.colors.grey | default "#5C5A5A" }};

// Fonts
$font-family-base: {{ .Site.Params.fonts.base }}, Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: {{ .Site.Params.fonts.heading }}, serif, -apple-system;

// Links

// Footer

// Bootstrap

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components

// Pages
