@use "../abstracts" as *;

.btn {
	display: inline-block;
	border: 2px solid;
	--font-weight: 500;
	font-size: var(--fs-300);
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
	padding: 1em 1.85em 1em;
	cursor: pointer;
  border-radius: 0;
  transform: scale(1);
  transition: transform 200ms ease;
  
  &-primary {
    
    color: var(--clr-white-base);
    border-color: var(--clr-blue-base);
    background-color: var(--clr, var(--clr-blue-base));
    box-shadow: 0 .125em .5em rgba(black, .15);

    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-.125em);
      color: var(--clr-white-base);
      
      &::before {
        opacity: .3;
      }
    }
  }
  
  &-green {
    
    color: var(--clr-white-base);
    border-color: var(--clr-green-base);
    background-color: var(--clr, var(--clr-green-base));
    box-shadow: 0 .125em .5em rgba(black, .15);
    
    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-.125em);
      color: var(--clr-white-base);
      
      &::before {
        opacity: .3;
      }
    }
  }

  &-green-outline {
    
    color: var(--clr-green-base);
    border-color: var(--clr-green-base);
    background-color: var(--clr, var(--clr-white-base));
    // box-shadow: 0 .125em .5em rgba(black, .15);

    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-.125em);
      color: var(--clr-green-base);
  
      &::before {
        opacity: .3;
      }
    }
  }
  
  &-dark {
    
    color: var(--clr-white-base);
    border-color: var(--clr-black-base);
    background-color: var(--clr, var(--clr-black-base));
    box-shadow: 0 .125em .5em rgba(black, .15);

    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-.125em);
      color: var(--clr-white-base);
  
      &::before {
        opacity: .3;
      }
    }
  }

  &-white {
    
    color: var(--clr-black-base);
    border-color: var(--clr-white-base);
    background-color: var(--clr, var(--clr-white-base));
    // box-shadow: 0 .125em .5em rgba(black, .15);

    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-.125em);
      color: var(--clr-black-base);
  
      &::before {
        opacity: .3;
      }
    }
  }

  &-white-outline {
    
    color: var(--clr-black-base);
    border-color: var(--clr-black-base);
    background-color: var(--clr, var(--clr-white-base));
    // box-shadow: 0 .125em .5em rgba(black, .15);

    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-.125em);
      color: var(--clr-black-base);
  
      &::before {
        opacity: .3;
      }
    }
  }

}

.mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    --font-weight: 500;
    font-size: var(--fs-300);
    text-decoration: none;
    line-height: 1;
    padding: 1em 0;
    cursor: pointer;
    border-radius: 0;
}