@use '../abstracts' as *;


.header {
  color: var(--clr-black-base);
  background-color: var(--clr-white-base);

  padding: 10px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}

//Menu
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 10000;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
  
  &-line {
    background: var(--clr-black-base);
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out; 
    width: 100%;
    
    .hamburger:hover & {
      background: var(--clr-white-base);
    }
    
    &-top {
      top: 3px;
    }
    
    .lock-scroll &-top {
      background: var(--clr-white-base);
      top: 50%;
      transform: rotate(45deg) translatey(-50%);
    }
    
    &-middle {
      top: 50%;
      transform: translatey(-50%);
    }
    
    .lock-scroll &-middle {
      background: var(--clr-white-base);
      left: 50%;
      opacity: 0;
      width: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .lock-scroll &-bottom {
      background: var(--clr-white-base);
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }
  }
}