// .hero {

// 	position: relative;
// 	display: block;
 

// 	&-image {
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			width: 100%;
// 			height: 100%;
// 			background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0) 75%);
// 		}

// 		img {
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 	}

// 	&-content {
// 		position: absolute;
// 		z-index: 100;
// 		text-align: center;
// 		width: 100%;
// 		top: 50%;
// 		transform: translateY(-50%);
// 	}
// }

.hero {
  // &:not(.no-gutters) {
  //   padding: 3rem 1rem;    
  // }

  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%);
  &.hero-has-background {
    color: var(--clr-black-base);    
    min-height: 25rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: var(--background);
      top: 0; 
      bottom: 0; 
      left: 0; 
      right: 0;
      z-index: -1;
      pointer-events: none;
    }
  }
  &.row {
    flex-direction: row;
  }

	&-content {
    position: absolute;
		top: 0;
    bottom: 0;
    transform: translateY(50%);
	}
}