@use '../abstracts/' as *;

.feature {
	display: grid;
	place-items: center;
	isolation: auto;
	background: hsla(199, 100%, 35%, 0.55);
	overflow: hidden;

	& > * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
	
	p {
		color: var(--clr-white-base);
	}
	
	a {
		color: var(--clr-white-base);
		text-decoration: none;
	}
	
	img {
		mix-blend-mode: multiply;
		filter: brightness(110%);
		width: 100%;
		height: auto;
		object-fit: cover;
		z-index: -1;
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		
	}
	
	&:hover {
		background: hsla(199, 100%, 35%, 0.75);
	}
	
	&:hover img {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

}