<form name="contact" data-netlify="true" netlify-honeypot="bot-field" method="POST">
	<div class="grid-2">
		<div class="column">
			<label for="the-name">Your Name</label>
			<input type="text" name="name" id="the-name" required>
	
			<label for="the-email">Email Address</label>
			<input type="email" name="email" id="the-email" required>
	
			<label for="the-phone">Phone Number</label>
			<input type="tel" name="phone" id="the-phone" required>
	
			<label for="the-reason">How can we help you?</label>
			<select name="reason" id="the-reason" required>
				<option value="">Choose one</option>
				<option value="Become a Vendor">Become a Vendor</option>
				<option value="Private Security">Private Security</option>
				<option value="Executive Protection">Executive Protection</option>
				<option value="Concierge Security">Concierge Security</option>
				<option value="Event Security">Event Security</option>
				<option value="Off Duty Police Services">Off Duty Police Services</option>
		</select>
		</div>
		<div class="column">
			<label for="the-message">Message</label>
			<textarea name="message" id="the-message" required></textarea>
			<input class="btn btn-primary" type="submit" value="Send Message">
		</div>
	</div>
</form>