<div class="container-xs">
	{{/*  <form name="jcp-request-form" data-netlify="true" netlify-honeypot="bot-field" method="POST" action="/jcp-thankyou">  */}}
	<form name="jcp-request-form" data-netlify="true" netlify-honeypot="bot-field" method="POST">
		<div class="grid">
			<div class="column">
				<label for="client-company-name">Client Company Name *</label>
				<input type="text" id="client-company-name" name="client-company-name" required/>
				
				<label for="requestor-full-name">Requestor's Full Name *</label>
				<input type="text" id="requestor-full-name" name="requestor-full-name" required/>
				
				<label for="requestor-phone-number">Requestor's Phone Number *</label>
				<input type="tel" id="requestor-phone-number" name="requestor-phone-number" required/>
				
				<label for="name-of-rapd">Name of RAPD that approved this request *</label>
				<input type="text" id="name-of-rapd" name="Name of RAPD that approved this request" required/>

				<label for="requestor-email-address">Requestor's Email Address *</label>
				<input type="email" id="requestor-email-address" name="requestor-email-address" required/>
				
				<label for="local-contact-full-name">Local Contact's Full Name *</label>
				<input type="text" id="local-contact-full-name" name="local-contact-full-name" required/>
				
				<label for="local-contact-phone-number">Local Contact's Phone Number *</label>
				<input type="tel" id="local-contact-phone-number" name="local-contact-phone-number" required/>
				
				<label for="local-contact-email">Local Contact's Email *</label>
				<input type="email" id="local-contact-email" name="local-contact-email" required/>
				
				<label for="service-location-phone-number">Service Location Phone Number (If applicable)</label>
				<input type="tel" id="service-location-phone-number" name="service-location-phone-number" />
				
				<label for="service-location-name">Service Location Name (If applicable)</label>
				<input type="text" id="service-location-name" name="service-location-name"/>
				
				<label for="store-number">Store # (If applicable)</label>
				<input type="text" id="store-number" name="store-number" />
				
				<label for="service-location-address">Service Location Address *</label>
				<input type="text" id="service-location-address" name="service-location-address" required/>
				
				<label for="service-location-city">Service Location City *</label>
				<input type="text" id="service-location-city" name="service-location-city" required/>
				
				<label for="service-location-state">Service Location State *</label>
				<input type="text" id="service-location-state" name="service-location-state" required/>
				
				<label for="service-location-zip">Service Location Zip / Postal Code *</label>
				<input type="text" id="service-location-zip" name="service-location-zip" required/>
				
				<label for="service-date">Service Date(s) *</label>
				<input type="text" id="service-dates" name="service-dates" required>
				
				<label for="shift-times">Shift Times *</label>
				<textarea name="shift-times" id="shift-tiems" cols="30" rows="5" required></textarea>
				
				<label for="number-of-officers-required">Number of Officers Per Shift Required *</label>
				<input type="text" id="number-of-officers-required" name="number-of-officers-required" required>
				
				<label for="guard-duties">What are the guard duties and where do you want the guard located?</label>
				<textarea name="guard-duties" id="guard-duties" cols="30" rows="5" required></textarea>

				<label for="security-guard-required">Is a Security Vehicle Required? *</label>
				<select name="security-guard-required" id="security-guard-required" required>
					<option value="">Choose one</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>

				<label for="new-exisiting-service">Is this new or existing Service *</label>
				<select name="new-exisiting-service" id="new-exisiting-service" required>
					<option value="">Choose one</option>
					<option value="New">New</option>
					<option value="Existing">Existing</option>
				</select>

				<label for="extension-of-service">Is This an Extension of Services *</label>
				<select name="extension-of-service" id="extension-of-service" required>
					<option value="">Choose one</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>

				<label for="any-security-issues">Are There Service Issues (Please Explain)</label>
				<textarea name="any-security-issues" id="any-security-issues" cols="10" rows="5"></textarea>

				{{/*  <label for="reason-for-request-duties">Reason for Request / Duties </label>
				<textarea name="reason-for-request-duties" id="reason-for-request-duties" cols="30" rows="5"></textarea>  */}}

				<label for="fire-watch">Reason for coverage *</label>
				<select id="fire-watch" name="fire-watch" required>
								<option value="">--Please choose an option--</option>
								<option value="fire-panel-down">Fire Watch - Fire Panel down</option>
								<option value="burglar-alarm-down">Fire Watch - Burglar Alarm down </option>
								<option value="alarm-system-down">Fire Watch - Alarm System down </option>
								<option value="other">Other </option>
				</select>

				<div id="other-reason-container" style="display:none;">
					<label for="other-reason-for-coverage">Other Reason for coverage</label>
					<textarea type="text" id="other-reason-for-coverage" name="other-reason-for-coverage" cols="30" rows="5"></textarea>
				</div>
			

				<label for="additional-comments">Additional Comments</label>
				<textarea name="additional-comments" id="additional-comments" cols="30" rows="5"></textarea>

				<label for="po-cost-center">PO# / Cost Center *</label>
				<input type="text" id="po-cost-center">

				<input id="subject" type="hidden" name="subject" data-remove-prefix value="" />

				<input class="btn btn-green" type="submit" value="Submit" />

			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	document.getElementById('fire-watch').addEventListener('change', function() {
    var otherReasonContainer = document.getElementById('other-reason-container');
    if(this.value === 'other') {
        otherReasonContainer.style.display = 'block';
    } else {
        otherReasonContainer.style.display = 'none';
    }
});
document.addEventListener('DOMContentLoaded', (event) => {
    // Select the dropdown and the subject input field
    const fireWatchDropdown = document.getElementById('fire-watch');
    const subjectInput = document.getElementById('subject');
    
    // Function to update the subject input value based on the selected option
    function updateSubject() {
        let selectedOption = fireWatchDropdown.options[fireWatchDropdown.selectedIndex].text;
        // If "Other" is selected, use the text from the "other-reason-for-coverage" textarea
        //if (selectedOption === 'Other') {
        //    const otherReason = document.getElementById('other-reason-for-coverage').value;
        //    selectedOption = otherReason ? `Other - ${otherReason}` : 'Other';
        //}
        subjectInput.value = `JCP Security Request - ` + selectedOption;
    }
    
    // Update the subject whenever the selected option changes
    fireWatchDropdown.addEventListener('change', updateSubject);
    
    // Update the subject whenever the other-reason-for-coverage textarea changes
    document.getElementById('other-reason-for-coverage').addEventListener('input', updateSubject);
});
</script>