<div class="container">
	<div class="logo justify-content-center">
		<a href="{{ .Site.BaseURL }}"><img height={{ .Site.Params.logo.desktop_height }} alt="{{ .Site.Params.logo.alt }}"
				src="{{ .Site.Params.logo.desktop | relURL }}" /></a>
	</div>
	<div class="logo-mobile justify-content-center align-middle">
		<a href="{{ .Site.BaseURL }}"><img height={{ .Site.Params.logo.mobile_height }} alt="{{ .Site.Params.logo.alt }}"
				src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
	</div>
</div>
