<div class="container-xs">
	<form name="work-with-us" data-netlify="true" netlify-honeypot="bot-field" method="POST">
		<div class="grid">
			<div class="column">
				<label for="legal-business-name">Legal Business Name</label>
				<input type="text" name="legal-business-name" id="legal-business-name">
		
				<label for="trade-name-dba">Trade Name dba</label>
				<input type="text" name="trade-name-dba" id="trade-name-dba">

				<label for="address">Address</label>
				<input type="text" name="address" id="address">

				<label for="city">City</label>
				<input type="text" name="city" id="city">

				<label for="state">State</label>
				<input type="text" name="state" id="state">

				<label for="zip">Zip</label>
				<input type="text" name="zip" id="zip">
				
				<label for="states-compliant">States Compliant</label>
				<input type="text" name="states-compliant" id="states-compliant">
		
				<label for="the-name">Your Name</label>
				<input type="text" name="name" id="the-name">
		
				<label for="the-email">Email Address</label>
				<input type="email" name="email" id="the-email">
		
				<label for="the-phone">Phone Number</label>
				<input type="tel" name="phone" id="the-phone">
		
				<label for="the-reason">Work With Us</label>
				<select name="reason" id="the-reason">
					<option value="private-security">Private Security</option>
					<option value="executive-protection">Executive Protection</option>
					<option value="concierge-security">Concierge Security</option>
					<option value="event-security">Event Security</option>
					<option value="off-duty-police-services">Off Duty Police Services</option>
			</select>
			</div>
			<div class="column">
				<label for="the-message">Message</label>
				<textarea name="message" id="the-message"></textarea>
				<input class="btn btn-primary" type="submit" value="Send Message">
			</div>
		</div>
	</form>
</div>