.container {
	// https: //smolcss.dev/#smol-responsive-padding
	padding: 1.5rem clamp(1rem, 5%, 3rem);
	max-width: 90rem;
	margin: 0 auto;
}

.container-sm {
	// https: //smolcss.dev/#smol-responsive-padding
	padding: 1.5rem clamp(1rem, 5%, 3rem);
	max-width: 80rem;
	margin: 0 auto;
}